.main-container{
    position: relative;
    width: 100%;
    .fondo-index{
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url("../../assets/homeIndex.jpg");
        background-position: 50% 50%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        .capa{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ffffff40;
            z-index: -1;
        }
        .slogan{
            width: 100%;
            padding: 0 20px;
            position: absolute;
            left: 50%;
            bottom: 10%;
            transform: translate(-50%, -10%);
            color: $azulOscuro;
            font-size: 1.8rem;
            font-weight: 500;
            text-align: center;
        }
    }
    .frabicantes-index{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 40px 0px;
        .fabricantes-title{
            color: $azulOscuro;
            font-size: 1.5rem;
            margin-bottom: 10px;
            position: relative;
            transition: 0.5s;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: -5%;
                transform: translateY(-50%);
                width: 2px;
                height: 100%;
                background-color: $verde;
                transition: 1s;
            }
            &:hover::before{
                left: 105%;
            }
        }
        .fabricantes-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .fabricantes-caract, .capaitacion-servicio{
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .caract{
                    width: 90%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    .icono{
                        width: 70px;
                        opacity: 0.8;
                        transition: all 0.5s ease-out;
                        img{
                            width: 100%;
                        }
                        &:hover{
                            opacity: 1;
                            transform: scale(1.2);
                        }
                    }
                    .title-text{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        position: relative;
                        gap: 10px;
                        &:before{
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 0%;
                            transform: translateY(-50%);
                            width: 2px;
                            height: 90%;
                            background-color: $azulPrimario;
                        }
                        .title{
                            color: $azulOscuro;
                            margin-left: 20px;
                            font-size: 1rem;
                            position: relative;
                            &:before{
                                content: '';
                                position: absolute;
                                bottom: -5px;
                                left: 0%;
                                transform: translateY(-50%);
                                width: 0;
                                height: 2px;
                                background-color: $azulPrimario;
                                transition: 200ms linear;
                            }
                            &:hover::before{
                                width: 100%;
                            }
                        }
                        .text{
                            margin-left: 20px;
                            width: 90%;
                            text-align: start;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}
@media(min-width:600px){
    .main-container
    .frabicantes-index{
        .fabricantes-title{
            align-self: flex-start;
            margin-left: 40px;
            margin-bottom: 10px;
        }
        .fabricantes-container{
            flex-direction: row;
            align-items: flex-start;
        }
    }
}
@media(min-width:1200px){
    .main-container
    .frabicantes-index{
        width: 95%;
        margin: auto;
        .fabricantes-container{
            gap: 40px;
            .fabricantes-caract, .capaitacion-servicio{
                gap: 40px;
                flex-direction: row;
            }
        }
    }
}