//Colores
$white: #ffffff;
$black:#000000;

$azulPrimario: #2359FF;
$azulSecundario: #4B39EF;

$azulOscuro: #18143B;
$hoverAzulOscuro: #0f0d27;

$verde:#00FE82;

$lilaIntenso:#8F87D8;
$lilaSuave: #E2DDEE;

