@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,200;1,400;1,500;1,600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
}

@font-face {
  font-family: Pablo;
  src: url("../../font/TheScientist-L3EyW.ttf") format("truetype");
}
.nav {
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.454);
}
.nav .navContainer {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.nav .navContainer .icono-nav {
  width: 100px;
}
.nav .navContainer .menu {
  display: none;
  justify-content: flex-end;
  margin: 0 -10px;
}
.nav .navContainer .menu a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  position: relative;
  text-shadow: 0px 0px 10px #000000;
}
.nav .navContainer .menu a span {
  position: absolute;
  background: #18143B;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 0;
  transition: all 300ms ease-out;
}
.nav .navContainer .menu a:hover span {
  width: 100%;
}
.nav .navContainer .menu .active span {
  width: 100%;
}
.nav .navContainer .hamburger {
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.nav .navContainer .hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.5s;
}
.nav .navContainer .hamburger span:nth-child(3) {
  margin-bottom: 0px;
}
.nav .navContainer .hamburger:hover span:nth-child(2) {
  transform: translateX(6px);
  border-radius: 6px;
  background-color: #18143B;
}
.nav .navContainer .is-active:hover span {
  background-color: #18143B;
}
.nav .navContainer .is-active span:nth-child(1) {
  transform: translate(0px, 0px) rotate(45deg);
}
.nav .navContainer .is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}
.nav .navContainer .is-active span:nth-child(3) {
  transform: translate(-2px, 1px) rotate(-45deg);
}

.nav-mobile {
  opacity: 1;
}
.nav-mobile .nav-mobile-container {
  position: fixed;
  top: -100%;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.4588235294);
  transition: all 0.5s;
}
.nav-mobile .nav-mobile-container a {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  background-color: #18143B;
  box-shadow: 0px 0px 10px #000000;
  position: relative;
  overflow: hidden;
}
.nav-mobile .nav-mobile-container a span {
  position: absolute;
  background: #2359FF;
  width: 1%;
  height: 100%;
  top: 0;
  left: -1%;
  transition: 0.4s;
}
.nav-mobile .nav-mobile-container a p {
  font-weight: 400;
  position: relative;
  transition: 0.4s;
}
.nav-mobile .nav-mobile-container a:hover span {
  border-radius: 5px;
  width: 101%;
}
.nav-mobile .nav-mobile-container a:hover p {
  font-weight: 600;
  color: #000000;
}
.nav-mobile .is-active {
  top: 0;
}

@media (min-width: 768px) {
  .nav .navContainer .hamburger {
    display: none;
  }
  .nav .navContainer .menu {
    display: flex;
  }
  .nav-mobile {
    opacity: 0;
  }
}
.main-container {
  position: relative;
  width: 100%;
}
.main-container .fondo-index {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/homeIndex.jpg");
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.main-container .fondo-index .capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2509803922);
  z-index: -1;
}
.main-container .fondo-index .slogan {
  width: 100%;
  padding: 0 20px;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -10%);
  color: #18143B;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #18143B;
  color: #ffffff;
  height: auto;
  padding: 30px 20px;
}
.footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer .footer-container .footer-slogan-link-redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer .footer-container .footer-slogan-link-redes .footer-logo-slogan {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.footer .footer-container .footer-slogan-link-redes .footer-logo-slogan .footer-logo {
  width: 200px;
}
.footer .footer-container .footer-slogan-link-redes .footer-logo-slogan .footer-slogan {
  font-size: 1.3rem;
  color: inherit;
  font-weight: 400;
  text-align: center;
}
.footer .footer-container .footer-slogan-link-redes .footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer .footer-container .footer-slogan-link-redes .footer-links .links-footer {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 600;
}
.footer .footer-container .footer-slogan-link-redes .footer-redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer .footer-container .footer-slogan-link-redes .footer-redes .footer-redes-titulo {
  width: auto;
  text-align: center;
  position: relative;
  font-size: 1.5rem;
}
.footer .footer-container .footer-slogan-link-redes .footer-redes .footer-redes-titulo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
  width: 2px;
  height: 100%;
  background-color: #00FE82;
  transition: 1s;
  z-index: 0;
}
.footer .footer-container .footer-slogan-link-redes .footer-redes .footer-redes-titulo:hover::before {
  left: 110%;
}
.footer .footer-container .footer-slogan-link-redes .footer-redes .footer-redes-container {
  display: flex;
  gap: 25px;
}
.footer .footer-container .footer-slogan-link-redes .footer-redes .footer-redes-container .redes-footer {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.8;
  transition: all 0.5s ease-out;
}
.footer .footer-container .footer-slogan-link-redes .footer-redes .footer-redes-container .redes-footer .footer-redes-icono {
  font-size: 1.5rem;
}
.footer .footer-container .footer-slogan-link-redes .footer-redes .footer-redes-container .redes-footer:hover {
  opacity: 1;
  transform: scale(1.3);
}
.footer .footer-container .footer-line {
  width: 90%;
  border: 1px solid #00FE82;
}
.footer .footer-container .footer-copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-container .footer-copyright .footer-copy {
  font-size: 0.8rem;
  text-align: center;
}
.footer .footer-container .footer-copyright .footer-pablo {
  text-decoration: none;
  text-align: center;
  font-family: Pablo;
  font-size: 1.2rem;
  color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
